# APP
APP_NAME=spotify
APP_PORT=8080
APP_HOST=http://localhost:8080/v1/

# DATABASES
DB_TYPE=postgres
POSTGRES_HOST=172.19.0.2
POSTGRES_NAME=spotify-db
POSTGRES_USER=root
POSTGRES_PASSWORD=123456
POSTGRES_PORT=5432

# MIGRATIONS CONFIG
TYPEORM_CONNECTION=postgres
TYPEORM_HOST=172.19.0.2
TYPEORM_USERNAME=root
TYPEORM_PASSWORD=123456
TYPEORM_DATABASE=spotify-db
TYPEORM_PORT=5432
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=true
TYPEORM_ENTITIES=src/**/*.entity.ts
TYPEORM_MIGRATIONS=src/database/migrations/*.ts
TYPEORM_MIGRATIONS_DIR=src/database/migrations/
TYPEORM_MIGRATIONS_TABLE_NAME=migrations


# JWT
JWT_SECRET=21825459e97d7ee65a2eb870928bb6f7


REACT_APP_HTTP_SERVER=http://localhost:8080/v1
REACT_APP_STATIC_FILES=http://localhost:8080/storage